@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body{
    display:flex;
    width: 100%;
    margin:0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}
html{
    margin: 0;
    height: 100%;
}
.Main{
    width:50%;
}
#bg{
    
    width:100%;
    height:100%;
    background-image: url('../img/background.png'); 
    position: fixed;
    filter: blur(5px);
    z-index: -2;
  }
 
  .imgBarberCard{
    background-size: cover;
    width:156px;
    height:216px;
  }
  .checkMain{
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
  }
  .Main.checkMain {
    position: fixed;
    right: 0px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:100px;
    text-align: start;
    align-items: start;
    box-sizing: border-box;
    /* max-width: 600px; */
    /* margin: auto;*/
  }

  .Main.checkMain span {
    display: block;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    color: #999;
    display: block;
    padding-bottom: 18px;
    font: italic 22px/24px "IBM Plex Serif", serif;
  }

  .Main.checkMain table {
    width: 100%;
    border-collapse: collapse;
  }

  .Main.checkMain table td {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }

  /* Mimic the font styles from the screenshot */
  .Main.checkMain table td:first-child {
    font-weight: bold;
    width: 150px;
    font-weight: normal;
    color: #999;
    vertical-align: top;
  }

  .Main.checkMain table td:nth-child(2) {
    text-align: right;
  }

  .choiceBarber p{
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
  }
   h1{
    
    
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
  }
  .choiceBarber{
    text-align: start;
    padding: 3em 9em;
  }
  .barberCard{

    background-image: url('../img/BarberPage/backgrBarber1.png'); 

    background-size: cover;
    background-position: center;
    width: 156px;
    height: 216px;
    margin: 12px;
    border-radius: 7px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .barberCard:hover{
    border: 1px solid white;
  }
  .barberCardName{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;

  }
  .barberCardCategory{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
  }
  #containBarber{
    display:flex;
    flex-wrap: wrap;
  }
  #butonNext{
    padding: 10px 60px;
    
    border-radius: 10px;
    font-size: 20px;
  }
.choiceMain{
    text-align: center;
}
.selected{
  border: 2px solid red;
}
.selected{
  border: 2px solid red;
}
.butonNextActive{
  background-color: red;
  color: whitesmoke;
}
.butonNextActive:hover{
  background-color: darkred;
  color: whitesmoke;
}
.butonNextNoActive{
  background-color: #515151c2;
  color: rgba(255, 255, 255, 0.3) ;
}

/*Service*/
.choiceService{
  /*margin: 20px;*/
  text-align: start;
  padding: 3em 9em;
}
#containService{
  color: white;
  padding: 15px 5px;
}
.serviceCard{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #515151c2;
  /* background-color: #515151c2; */
  border-radius: 5px;
  min-height: 60px;
  display: block;
  margin: 0 0 12px;
  padding: 0 22px;
  line-height: 56px;
  float: none;
}
.serviceCard:hover{
  border: 2px solid #fff;
}
.serviceCardName{
  float: left;
  font-weight: 500;
  padding: 16px 0;
  line-height: 24px;
}
.serviceCardPrice{
  float: right;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}


.choiceTime {
 
  text-align: start;
  padding: 3em 9em;
 
  color: white; /* Білий текст */
}



#timeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Чотири колонки */
  gap: 10px; /* Відступи між елементами */
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1); /* Прозорий білий фон */
  border-radius: 5px; /* Закруглені кути */
  cursor: pointer; /* Курсор у формі пальця при наведенні */
}

.time:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Трохи більша прозорість при наведенні */
}

.time.selected {
  background-color: white;
  color: black;
  border-color: red;
}
/* Припустимо, що елементи з класом .time мають клас .selected, коли вони вибрані */
.time.selected {
  background-color: rgba(255, 255, 255, 0.3); /* Ще більша прозорість для вибраного часу */
}



.form-input {
  font-size: 20px;
  background-color: #fff0;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  margin-bottom: 15px;
  /* width: calc(100% - 30px); */
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid black; /* Highlight color when focused */
}

.icon {
  width: 40px;
  
  vertical-align: middle;
  margin-right: 5px;
}
.appointment-link:hover{
  background-color: #999;
}
.required-dot {
  color: red;
  vertical-align: super;
  font-size: 80%;
}
form{
  background-color: #ffffff9e;
  border-radius: 20px;
  padding: 40px 0px;
  width:390px;
  text-align: center;
}
.choiceForm{
  /*text-align: start;*/
  width: 390px;
  padding: 3em 9em;
}
#mistakeForm{
  color: red;
}

#butonNextForm {
  margin: 10px;
  margin-top:40px;
  padding: 10px 60px;
  border-radius: 10px;
  font-size: 20px;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  /* Дальнейшая стилизация по вашему усмотрению */
}
.back-arrow {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  color: white;
  cursor: pointer;
  padding: 10px;
  /* Анимация */
  animation: arrowAnimation 1s ease-in-out infinite;
}

/* Ключевые кадры для анимации */
@keyframes arrowAnimation {
  0%, 100% { transform: translateY(-50%) translateX(0); }
  50% { transform: translateY(-50%) translateX(10px); }
}

#resetButton {
  background-color: #a52b2b; /* Зеленый фон */
  color: white; /* Белый текст */
  padding: 12px 20px; /* Внутренний отступ */
  margin: 8px 0; /* Внешний отступ */
  border: none; /* Без границ */
  border-radius: 4px; /* Скругленные углы */
  cursor: pointer; /* Стиль курсора при наведении */
  font-size: 16px; /* Размер шрифта */
}

#resetButton:hover {
  background-color: #6f2424; /* Немного темнее зеленого при наведении */
}

.content {
  font-family: 'Open Sans', sans-serif;

  padding: 0;
  width: 300px;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  z-index: 10;
  left: 30px;
  display: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
}

.close {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 15px;
  font-size: 21px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  background: transparent;
  border: none;
}

.close:hover {
  color: #000;
  opacity: 0.5;
}

.alert-success {
  background-color: #dbf6d3;
  border-color: #aed4a5;
  color: #569745;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.fa-check {
  font-size: 20px;
  color: #569745;
}

/* Анімація для появи сповіщення */
@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Анімація для зникнення сповіщення */
@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.content {
  animation: slideIn 0.5 ease-out forwards;
}

.content.hide {
  animation: slideOut 0.5s ease-in forwards;
}



